@media screen and (min-width: 1399px) {


// section one



.header_left {
	a.logo {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
	}
}


.header_right {
	.free_consult {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
	}
	.menu_wrapper {
		transform: translateX(35px);
		transition: transform 1300ms cubic-bezier(.17,.66,.34,.98);
		span {
			transform: translateX(8px);
			opacity: 0;
			transition: transform 900ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
		}
		span.menu_bar {
			
		}
		span.menu_title {
			
		}
	}
}



.sec_one_inner {
	span.small_header {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 600ms linear;
	}
	span.large_header {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 600ms linear;
	}
	a.button {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 600ms linear;
	}
	img.mouse {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 600ms linear;
	}
}




body.visible {
	.header_left {
		a.logo {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 300ms;
		}
	}
	.header_right {
		.free_consult {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 300ms;
		}
		.menu_wrapper {
			transform: translateX(0px);
			span {
				transform: translateY(0);
				opacity: 1;
				&:first-of-type {
					transition-delay: 600ms;
				}
				&:nth-of-type(2) {
					transition-delay: 800ms;
				}
				&:nth-of-type(3) {
					transition-delay: 1000ms;
				}
				&:last-of-type {
					transition-delay: 1200ms;
				}
			}
		}
	}
	.sec_one_inner {
		span.small_header {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 600ms;
		}
		span.large_header {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 800ms;
		}
		a.button {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 1000ms;
		}
		img.mouse {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 1200ms;
		}
	}
}




@keyframes mouse_move {
  0% {
    transform: translateY(-4px);
 	}
  50% {
	  transform: translateY(4px);
  }
	100% {
    transform: translateY(-4px);
   }
}






// section three	
	


.sec_three_img {
	
	img {
	
	}
}




.sec_three_img_bg {
	transform: translate(60px, -50px) scale(1.1); 
	transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
	img {
		//transform: scale(1.25);  
		//transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
	}
}

.sec_three_img_one {
	transform: translate(60px, 100px) scale(1.2); 
	transition: all 1600ms cubic-bezier(.17,.66,.34,.98);
	img {
		//transform: scale(1.25);  
		//transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
	}
}

.sec_three_img_two {
	transform: translate(-60px, -100px) scale(1.2); 
	transition: all 1600ms cubic-bezier(.17,.66,.34,.98);
	img {
		//transform: scale(1.25);  
		//transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
	}
}






.sec_three_right.visible {
	.sec_three_img_bg, .sec_three_img_one, .sec_three_img_two {
		transform: translate(0px, 0px) scale(1);  
		img {
			transform: scale(1);  
		}
	}
}



	
	
} /* Media Query */