@media screen and (min-width: 1399px) {


// section one



.header_left {
	a.logo {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
	}
}


.header_right {
	.free_consult {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
	}
	.menu_wrapper {
		transform: translateX(35px);
		transition: transform 1300ms cubic-bezier(.17,.66,.34,.98);
		span {
			transform: translateX(8px);
			opacity: 0;
			transition: transform 900ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
		}
		span.menu_bar {
			
		}
		span.menu_title {
			
		}
	}
}



.sec_one_inner {
	span.small_header {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 600ms linear;
	}
	span.large_header {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 600ms linear;
	}
	a.button {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 600ms linear, background 300ms ease-in-out;
	}
	img.mouse {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 600ms linear;
	}
}


img.mouse {
	animation-name: mouse_move;
  animation-duration: 1800ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1400ms;
 }
 
 
 
 .sec_one_left {
	transform: translateY(-35px);
	opacity: 0;
	transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
 }
 
 
 
 
 .play_wrapper {
	 .play_button_wrapper {
		 transform: translateY(-25px);
		 opacity: 0;
		 transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
		 &:before {
			 animation-name: play_border_move;
			 animation-duration: 1250ms;
			 animation-fill-mode: both;
			 animation-timing-function: cubic-bezier(.17,.66,.34,.98);
			 animation-delay: 1750ms;
		 }
		 .play_button {
			 opacity: 0;
			 transition: opacity 600ms ease-in-out;
		 }
	 }
	 .learn_wrapper  {
		 transform: translateY(25px);
		 opacity: 0;
		 transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
		 img {
			 transform: translateX(-10px);
			 opacity: 0;
			 transition: transform 900ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
		 }
	 }
 }
 


body.visible {
	.header_left {
		a.logo {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 300ms;
		}
	}
	.header_right {
		.free_consult {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 300ms;
		}
		.menu_wrapper {
			transform: translateX(0px);
			span {
				transform: translateY(0);
				opacity: 1;
				&:first-of-type {
					transition-delay: 600ms;
				}
				&:nth-of-type(2) {
					transition-delay: 800ms;
				}
				&:nth-of-type(3) {
					transition-delay: 1000ms;
				}
				&:last-of-type {
					transition-delay: 1200ms;
				}
			}
		}
	}
	.sec_one_inner {
		span.small_header {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 600ms;
		}
		span.large_header {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 800ms;
		}
		a.button {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 1000ms, 1000ms, 0ms;
		}
		img.mouse {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 1200ms;
		}
	}
	.sec_one_left {
		transform: translateY(0);
		opacity: 1;
		transition-delay: 1400ms;
	}
	.play_wrapper {
		.play_button_wrapper {
				transform: translateY(0);
				opacity: 1;
				transition-delay: 1400ms;
		 	&:before {
		 	
		 	}
		 	.play_button {
			 	opacity: 1;
				transition-delay: 1700ms;
		 	}
	 	}
 	}
 	.learn_wrapper {
	 	transform: translateY(0);
		opacity: 1;
		transition-delay: 1350ms;
		img {
			transform: translateX(0);
			opacity: 1;
			transition-delay: 1400ms;
		}
 	} 
}



// section two



#section_two {
	svg#six_count_three_lines {
		transform: translateX(35px);
		opacity: 0;
		transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
	}
}


.sec_two_topog {
	transform: translateY(55px);
	opacity: 0;
	transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
}




#section_two.visible {
	svg#six_count_three_lines {
		transform: translateX(0px);
		opacity: 1;
	}
	.sec_two_topog {
		transform: translateX(0px);
		opacity: 1;
	}
}



// section three	
	


.sec_three_img {
	
	img {
	
	}
}




.sec_three_img_bg {
	transform: translate(60px, -50px) scale(1.1); 
	transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
	img {
	}
}

.sec_three_img_one {
	transform: translate(60px, 100px) scale(1.2); 
	transition: all 1600ms cubic-bezier(.17,.66,.34,.98);
	img {
	}
}

.sec_three_img_two {
	transform: translate(-60px, -100px) scale(1.2); 
	transition: all 1600ms cubic-bezier(.17,.66,.34,.98);
	img {
	}
}


.sec_three_right.visible {
	.sec_three_img_bg, .sec_three_img_one, .sec_three_img_two {
		transform: translate(0px, 0px) scale(1);  
		img {
			transform: scale(1);  
		}
	}
}




// section five



.sec_five_button_left {
	transform: translateX(-100%);
	transition: all 900ms cubic-bezier(.17,.66,.34,.98);
}


.sec_five_button_right {
	transform: translateX(100%);
	transition: all 900ms cubic-bezier(.17,.66,.34,.98);
}


#section_five.visible {
	.sec_five_button_left {
		transform: translateX(0%);
	}
	.sec_five_button_right {
		transform: translateX(0%);
	}
}


.sec_five_topog {
	transform: translateY(55px) rotate(-50deg);
	opacity: 0;
	transition: transform 1400ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
}




.sec_five_topog_two {
	transform: translateY(-55px) rotate(-35deg);
	opacity: 0;
	transition: transform 1400ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
}




#section_five.visible {
	.sec_five_topog {
		transform: translateX(0px) rotate(-50deg);
		opacity: 1;
	}
	.sec_five_topog_two {
		transform: translateX(0px) rotate(-35deg);
		opacity: 1;
	}
}



// section six


.sec_six_img_bg {
	transform: translate(-60px, 50px) scale(1.1); 
	transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
	img {
	}
}

.sec_six_img_one {
	transform: translate(-60px, -50px) scale(1.2); 
	transition: all 1600ms cubic-bezier(.17,.66,.34,.98);
	img {
	}
}

.sec_six_img_two {
	transform: translate(60px, 100px) scale(1.2); 
	transition: all 1600ms cubic-bezier(.17,.66,.34,.98);
	img {
	}
}


#section_six.visible {
	.sec_six_img_bg, .sec_six_img_one, .sec_six_img_two {
		transform: translate(0px, 0px) scale(1);  
		img {
			transform: scale(1);  
		}
	}
}



// about the firm


img.about_bg {
	transform: scale(1.1);
	transition: all 1900ms cubic-bezier(.17,.66,.34,.98);
}


img.about_img_one {
	transform: translateY(35px) scale(1.1);
	transition: transform 1900ms cubic-bezier(.17,.66,.34,.98);
}

img.about_img_two {
	transform: translateY(35px) scale(1.1);
	transition: transform 1900ms cubic-bezier(.17,.66,.34,.98);
}


img.about_img_three {
	transform: translateY(35px) scale(1.1);
	transition: transform 1900ms cubic-bezier(.17,.66,.34,.98);
}




#internal_trigger.visible {
	img.about_bg {
		transform: scale(1);
		transition-delay: 300ms;
	}
	img.about_img_one {
		transform: translateY(0px) scale(1);
		transition-delay: 300ms;
	}
	img.about_img_two {
		transform: translateY(0px) scale(1);
		transition-delay: 300ms;
	}
	img.about_img_three {
		transform: translateY(0px) scale(1);
		transition-delay: 300ms;
	}
}



.about_page_img_bg {
	transform: translate(-30px, 50px) scale(1.1); 
	transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
	img {
	}
}

.about_page_img_one {
	transform: translate(-60px, -50px) scale(1.2); 
	transition: all 1600ms cubic-bezier(.17,.66,.34,.98);
	img {
	}
}

.about_page_img_two {
	transform: translate(20px, 100px) scale(1.2); 
	transition: all 1600ms cubic-bezier(.17,.66,.34,.98);
	img {
	}
}


#about_img_trigger.visible {
	.about_page_img_bg, .about_page_img_one, .about_page_img_two {
		transform: translate(0px, 0px) scale(1);  
		img {
			transform: scale(1);  
		}
	}
}


// internal headers



h1.internal_title, h1.page_title {
	&:after {
		transform: translateX(35px);
		opacity: 0;
		transition: transform 1400ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
	}
}


#internal_trigger.visible {
	h1.internal_title, h1.page_title {
		&:after {
			transform: translateX(0);
			opacity: 1;
			transition-delay: 300ms;
		}
	}
}

body.page-template-template-contact {
	h1.internal_title {
		&:after {
			transform: translateY(13px);
			opacity: 0;
			transition: transform 1400ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
		}
	}
}


	
	
} /* Media Query */