footer {
	overflow: hidden;
}


.footer_form {
	width:100%;
	background: url(#{$themePath}images/footer_img_desktop.jpg) top center no-repeat;
	background-color: $greenthree;
	text-align: center;
	padding:243px 70px 100px;
	span {
		display: block;
		color:#fff;
	}
	span.small_header {
		font-size:30px;
		letter-spacing: 0.08em;
		font-family: $unna;
	}
	span.large_header {
		font-family: $raleway;
		font-weight:800;
		font-size:125px;
		text-transform: uppercase;
		margin-top:14px;
	}
	.form_accents {
		margin:42px 0 0;
		svg {
			width:118px;
			height:23px;
		}
	}
}


.footer_form {
	.footer_form_inner {
		max-width: 1287px;
		margin:0 auto;
		position: relative;
	.gform_wrapper {
		margin:41px auto 0;
		ul {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li#field_1_6 {
				flex-basis: 100%;
			}
			li {
				margin-bottom:16px;
				position: relative;
				flex-basis:24%;
				&:after {
					content:"";
					display: block;
					width:6px;
					height:6px;
					background:$yellow;
					border-radius: 50%;
					position: absolute;
					top:26px;
					right:17px;
				}
				label {
					display: none;
				}
				input, textarea {
					border:none;
					width:100%;
					display: block;
					font-size: 15px;
					text-transform: uppercase;
					font-family: $raleway;
					font-weight: 800;
					color:$greythree;
					letter-spacing: 0.12em;
					padding:21px 27px 21px 17px;
				}
				textarea {
					height:255px;
				}
			}
		}
		input[type="submit"] {
			background: $orange;
			border:none;
			color:#fff;
			padding:30px 65px;
			text-transform: uppercase;
			font-family: $raleway;
			font-size:15px;
			font-weight: 800;
			letter-spacing: 0.12em;
			margin-top:4px;
			transition: all 200ms ease-in-out;
			cursor: pointer;
			&:hover {
				background: $greenone;
			}
		}
	}
	.gfield_description, .validation_message {
		text-transform: uppercase;
		color:$orange;
		font-family: $raleway;
		font-weight: 800;
		font-size: 13px;
		text-align: left;
		letter-spacing: 0.08em;
		margin-top:10px;
		padding-left:15px;
	}
	}
}



span.required {
	text-transform: uppercase;
	font-family: $raleway;
	font-size:12px;
	color:$greythree;
	font-weight: 800;
	letter-spacing: 0.12em;
	position: absolute;
	bottom:62px;
	left:0;
	&:after {
		content:"";
		width:6px;
		height:6px;
		display: inline-block;
		border-radius: 50%;
		background: $yellow;
		vertical-align: top;
		margin:2px 0 0 6px;
	}
}



.footer_bottom {
	background: $greenthree;
}

.footer_inner_bottom {
	display: flex;
	justify-content: space-between;
	max-width:1700px;
	margin:0 auto;
	padding: 28px 70px 184px;
	overflow: hidden;
}


.footer_col {
	text-align: center;
	position: relative;
	z-index: 1;
	&:nth-of-type(2) {
		margin-top:20px;
		span.location_title {
			margin-top:13px;
		}
	}
	&:nth-of-type(3) {
		margin:115px 0 0;
	}
	span, img {
		display: block;
		margin:0 auto;
	}
	img.location_svg {
		
	}
	span.location_title {
		color:#fff;
		font-family: $unna;
		font-size:58px;
		margin-top:7px;
	}
	img.title_accent {
		margin-top:24px;
	}
	span.address {
		color:#fff;
		font-family: $raleway;
		font-size:20px;
		line-height: 32px;
		margin:22px 0 0;
	}
	a.get_directions {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.12em;
		font-family: $raleway;
		color:$greythree;
		font-weight: 800;
		margin:33px 0 0;
		padding-bottom:3px;
		border-bottom: 2px solid $greythree;
		display: inline-block;
		transition: all 200ms ease-in-out;
		&:hover {
			color:$yellow;
			border-bottom: 2px solid $yellow;
		}
	}
}


.footer_consult_wrapper {
	display: flex;
	img, span {
		display: block;
	}
	img {
		margin-right:18px;
	}
	img.three_count {
		display: none;
	}
	span {
		flex-shrink: 0;
		color:#fff;
		text-transform: uppercase;
		font-family: $raleway;
		font-weight: 800;
		font-size:15px;
		letter-spacing: 0.12em;
	}
}


.footer_phone_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	span {
		display: block;
		margin:0;
	}
	a {
		color:#fff;
		text-decoration: none;
	}
	span.footer_phone_title {
		color:$greythree;
		text-transform: uppercase;
		font-size:18px;
		font-family: $raleway;
		font-weight: 800;
		letter-spacing: 0.12em;
	}
	.footer_phone {
		color:#fff;
		font-family: $unna;
		font-size:58px;
		text-decoration: none;
		
	}
}


.footer_phone_row.one {
	margin-top:35px;
}

.footer_phone_row.two {
	margin-top:30px;
}


.footer_topog {
	position: absolute;
	bottom: -174px;
	right:-170px;
	svg {
		width:800px;
		height:800px;
	}
}

.copyright {
	background: #fff;
	position: relative;
	z-index: 2;
	.copyright_inner {
		max-width:1920px;
		margin:0 auto;
		display: flex;
		padding:0 50px;
		justify-content: space-between;
		align-items: center;
		height:90px;
		.copright_col {
			font-size:13px;
			font-family: $raleway;
			font-weight: 400;
			color:$greenthree;
			flex-basis: 33.333%;
			&:first-of-type {
				a {
					text-decoration: none;
					margin-right:15px;
					&:last-of-type {
						margin-right:0;
					}
				}
			}
			
			&:first-of-type {
				text-align: left;
			}
			&:nth-of-type(2) {
				text-align: center;
			}
			&:last-of-type {
				text-align: right;
				img {
					width:285px;
					height:20px;
				}
			}
			svg {
				height:21px;
				path {
					fill:$greenthree;
					transition: all 200ms ease-in-out;
				}
				&:hover {
					path {
						fill:$greenone;
					}
				}
			}
			svg#google_plus {
				width:33px;
			}
			svg#linkedin {
				width:21px;
			}
			svg#facebook_icon {
				width:10px;
			}
			svg#twitter_icon {
				width: 25px;
			}
			ul {
				list-style: none;
				display: block;
				margin:0 auto;
				li {
					display: inline-block;
					&:after {
						content:"|";
						display: inline-block;
						margin:0 5px 0 7px;
					}
					&:last-of-type {
						&:after {
							display: none;
						}
					}
					a {
						color:$greenthree;
						text-decoration: none;
						transition: all 200ms ease-in-out;
						&:hover {
							color:$greenone;
						}
					}
				}
			}
		}
	}
}


@media screen and (min-width: 1921px) {
	
	.footer_form {
		background-size:cover;
	}
	
	
} /* Media Query */




@media screen and (max-width: 1450px) {
	
	
	.footer_form {
		background-size:100%;
		padding: 179px 70px 57px;
		.footer_form_inner {
			max-width:1010px;
			margin:0 auto;
		}
		span.large_header {
			font-size:90px;
			margin-top: 12px;
		}
		.form_accents {
			margin: 28px 0 0;
		}
	}
	
	.footer_inner_bottom {
		padding: 28px 92px 127px 70px;
	}
	
	.footer_topog {
		bottom: -244px;
		right: -222px;
	}
	
	
.copyright {
	.copyright_inner {
		height:70px;
	}
}


.footer_inner_bottom {
	padding: 28px 92px 132px 70px;
}
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	
	.footer_bottom {
		padding-left:70px;
		padding-right:70px;
		padding-top: 25px;
	} 
	 
	 
	 .footer_inner_bottom {
		 flex-wrap: wrap;
		 max-width: 649px;
		 margin:0 auto;
		 padding: 28px 0px 104px;
	 } 
	 
	 
	 .footer_col {
		 flex-basis:50%;
		 span.address {
			 max-width:245px;
			 margin-left:auto;
			 margin-right:auto;
		 }
		 a.get_directions {
			 margin: 15px 0 0;
		 }
	 }  
	 
	 
	 .footer_col.last_col {
		 flex-basis:100%;
		 max-width: 467px;
		 margin: 120px auto 0;
	 }
	 
	 
	 .footer_phone_row.one {
    	margin-top: 43px;
		}
		
		
		.footer_phone_row.two {
    	margin-top: 24px;
		}
		
		
		.copyright {
			.copyright_inner {
				position: relative;
				justify-content: center;
				height:94px;                                                                                                                                                                                                    				padding: 0 33px;
				.copright_col {
					flex-basis: auto;
					&:first-of-type {
						margin-right:25px;
					}
					&:last-of-type {
						margin-left:25px;
						img {
							width:241px;
							height:20px;
						}
					}
				}
			}
		}
	    
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	.footer_form {
		padding: 169px 70px 57px;
		background-size:1500px;
		span.small_header {
			font-size: 26px;
		}
		span.large_header {
			font-size: 61px;
		}
		.footer_form_inner {
			max-width: 640px;
			.gform_wrapper {
				margin: 37px auto 0;
				max-width: 545px;
				ul {
					display: block;
					li {
						input,textarea {
							padding: 21px 27px 18px 17px;
						}
						textarea {
							height:183px;
						}
					}
				}
				input[type="submit"] {
					margin-top:0;
				}
			}
		}
	}
	  
	  
	span.required {
		position: static;
		margin-top:40px;
	} 
	

	
	
} /* Media Query */



@media screen and (max-width: 800px) {
	
	.footer_form {
		background-position-x:35%;
	}
	
	
} /* Media Query */


@media screen and (max-width: 905px) {
	
	
	
	.copyright {
		.copyright_inner {
			flex-direction: column;
			height:auto;
			padding:35px 15px 35px;
			.copright_col {
				line-height: 18px;
				&:first-of-type {
					margin-right:0;
					margin-bottom: 25px;
				}
				&:last-of-type {
					margin-top:15px;
				}
			}
		}
	}

	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.footer_form {
		padding:169px 19px 0;
		span.small_header {
			font-size:22px;
			letter-spacing: 0.05em;
		}
		span.large_header {
			font-size:36px;
			line-height: 44px;
			margin-top: 4px;
		}
		.footer_form_inner {
			.gform_wrapper {
				margin: 27px auto 0;
				max-width:335px;
			}
		}
	}
	
	span.required {
    margin-top: 30px;
	}
	
	
	.footer_inner_bottom {
		display: block;
		padding: 50px 0px 93px;
	}
	
	.footer_col {
		&:nth-of-type(2) {
			margin-top:80px;
		}
		span.location_title {
			margin-top: 2px;
		}
		span.address {
			max-width:100%;
		}
		img.title_accent {
    	margin-top: 22px;
		}
		a.get_directions {
			margin: 26px 0 0;
		}
	}
	
	.footer_col.last_col {
    margin: 128px auto 0;
    max-width: 339px;
	}
	
	
	.footer_consult_wrapper {
		span {
			font-size:13px;
			margin-left:0;
		}
		img.six_count {
			display: none;
		}
		img.three_count {
			display: block;
			width:60px;
			height:13px;
			margin-left:0;
			margin-right: 16px;
		}
	}
	
	
	.footer_phone_row {
		.footer_phone {
			font-size:42px;
		}
	}
	
	
.footer_phone_row.one {
	margin-top: 24px;
}

.footer_phone_row.two {
  margin-top: 7px;
}


.footer_topog {
	bottom: -110px;
  right: -135px;
	svg {
		width:520px;
		height:560px;
	}
}

.footer_bottom {
	padding-left:20px;
	padding-right:20px;
}


	    
	
	
} /* Media Query */


@media screen and (max-width: 377px) {
	
	
	.footer_phone_row {
		display: block;
	}
	
	.footer_consult_wrapper {
		text-align: center;
		display: block;
		span {
			
		}
		img.three_count {
			display: none;
		}
	}
	
	
} /* Media Query */


