.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}


h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: $greythree; }
.gform_wrapper ul li ::-moz-placeholder {
  color: $greythree; }
 .gform_wrapper ul li :-moz-placeholder {
   color: $greythree; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: $greythree; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }
    
    
    
  a.button {
	  background: $orange;
	  font-family: $raleway;
	  text-decoration: none;
	  color:#fff;
	  text-transform: uppercase;
	  display: inline-block;
	  letter-spacing: 0.12em;
	  font-size:15px;
	  font-weight: 800;
	  padding:32px 30px;
	  transition: all 200ms ease-in-out;
	  &:hover {
		  background: $greenone;
	  }
  }
  
  
  
  .content {
	  font-family: $unna;
	  color:$greenthree;
	  font-family: $unna;
	  font-size:21px;
	  line-height: 32px;
	  h1.page_title {
		  font-size: 92px;
		  line-height: 88px;
		  color:$greenone;
		  &:after {
			  content:"";
			  display: block;
			  background: url(#{$themePath}images/six_count.svg) top left no-repeat;
			  width:135px;
			  height:19px;
			  margin:18px 0 43px;
		  }
	  }
	  h2 {
		  font-family: $raleway;
		  font-weight: 800;
		  color:$greythree;
		  font-size:37px;
		  line-height: 46px;
		  padding:11px 0 32px;
		  a {
			  color:$greythree;
		  }
	  }
	  h3 {
		  font-family: $unna;
		  color:$greenone;
		  font-size: 26px;
		  font-weight: 700;
		  padding:16px 0 11px;
	  }
	  p, ul, ol {
		 line-height: 32px;
		 margin-bottom:32px;
	  }
	  ul,ol {
		  list-style: none;
		  li {
			  margin-bottom:10px;
		  }
	  }
	  ul {
		  li {
			  position: relative;
			  padding-left:20px;
			  &:before {
				  content:"";
				  width:5px;
				  height:5px;
				  display: block;
				  border-radius: 50%;
				  background: $orange;
				  position: absolute;
				  top:13px;
				  left:0;
			  }
		  }
	  }
	  ol {
	  		list-style: none;
	  		counter-reset: item;
	  		> li {
	  			counter-increment: item;
	  			position: relative;
	  			padding-left:20px;
	   		}
	   		> li:before {
	   				content: counter(item)".";
	   				color: $orange;
	   				font-weight: 700;
	   				display: block;
	   				position: absolute;
	   				top:0;
	   				left:0;
	   				font-size: 19px;
	   			}
	  	}
	  a {
		  color:$orange;
		  text-decoration: none;
		  transition: all 200ms ease-in-out;
		  &:hover {
			  color:$greenone;
		  }
	  }
	  blockquote {
		  font-family: $raleway;
		  font-weight: 200;
		  color:$greenthree;
		  font-size:45px;
		  line-height: 61px;
		  margin:86px 0 0;
		  &:after {
			  content:"";
			  display: block;
			  background: url(#{$themePath}images/content01_icon-01.svg) top left no-repeat;
			  width:118px;
			  height:39px;
			  margin:20px 0 57px;
		  }
		  p {
			  font-size:45px;
				line-height: 61px;
				margin-bottom: 0;
		  }
	  }
	 }
	 
	 
	 
	 h1.internal_title {
		 font-family: $unna;
		 font-size:110px;
		 line-height: 90px;
		 color:$greenone;
		 &:after {
			 content:"";
			 display: inline-block;
			 width:136px;
			 height:8px;
			 background: url(#{$themePath}images/six_count.svg) top left no-repeat;
			 vertical-align: top;
			 margin-top:53px;
			 margin-left:20px;
		 }
	 }
	 
	 
	 h1.internal_title.centered {
		 text-align: center;
		 &:after {
			 display: block;
			 margin: 31px auto 23px;
		 }
	 }

@media screen and (max-width: 1450px) {
	
	.content {
		h3 {
			font-size: 26px;
			line-height: 32px;
		}
	}
	
	
} /* Media Query */ 
	
@media screen and (max-width: 1250px) {
	
	
	
	h1.internal_title.centered {
		&:after {
			margin: 19px auto 23px;
		}
	}
	
	
	
	
	
} /* Media Query */
	
 
 @media screen and (max-width: 1200px) {
	 
	 
	 
	 a.button {
		 font-size:12px;
		 	padding: 27px 40px;
	 }
	 
	 
	 
 } /* Media Query */
 
 
 @media screen and (max-width: 1066px) {
	 
	 .content {
	  	h1.page_title {
		  	font-size:76px;
				line-height: 62px;
		  	&:after {
			  	margin: 18px 0 25px;
		  	}
	  	}
	  	h2 {
		  	font-size:36px;
		  	line-height: 45px;
	  	}
	  	blockquote {
		  	margin: 55px 0 0;
		  	font-size:30px;
		  	line-height: 45px;
		  	&:after {
			  	margin: 20px 0 49px;
		  	}
		  	p {
			  	font-size:30px;
					line-height: 45px;
		  	}
	  	}
	 	}
	 	
	 	
	 	h1.internal_title {
		 	font-size:76px;
			line-height: 62px;
			&:after {
				margin-top: 35px;
			}
	 	}
	 
	 
	 
 } /* Media Query */


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}


		.content {
	  	h1.page_title {
		  	font-size:56px;
		  	line-height: 52px;
		  	&:after {
			  	margin: 18px 0 17px;
		  	}
	  	}
	  	h2 {
		  	font-size: 30px;
		  	line-height: 40px;
	  	}
	  	h3 {
		  	font-size:26px;
		  	line-height: 32px;
		  	padding: 16px 0 0px;
	  	}
	  	blockquote {
		  	margin: 33px 0 0;
		  	font-size: 26px;
		  	line-height: 41px;
		  	&:after {

			  	margin: 26px 0 50px;
/*
			  	width:89px;
			  	height:18px;
			  	background-size:89px 18px;
*/

		  	}
		  	p {
			  	font-size: 26px;
					line-height: 41px;
		  	}
	  	}
	 	}
	 	
	 	
	 	
	 	h1.internal_title {
		 	font-size:56px;
		  line-height: 52px;
			&:after {
				display: block;
			margin: 18px 0 17px;
			}
	 	}
	 	
	 	
	 	
	 	h1.internal_title {
		&:after {
			
		}
	}

	
	
	
	
} /* Media Query */