header {
	position: absolute;
	top:0;
	left:0;
	z-index:5;
	padding:0 61px 0 50px;
	height:113px;
	display: flex;
	align-items: center;
	width:100%;
}

.header_left {
	flex-basis:320px;
	a.logo {
		display: block;
		padding-top:4px;
		img {
			width:320px;
			height:42px;
		}
	}
}


.header_right {
	flex-grow:1;
	display: flex;
	justify-content: flex-end;
	.free_consult {
		display: flex;
		align-items: center;
		span.free_consult_title {
			text-transform: uppercase;
			font-family: $raleway;
			font-weight: 800;
			font-size:15px;
			letter-spacing: 0.12em;
			color:#012d2d;
			&:after {
				content:"";
				display: inline-block;
				width:6px;
				height:6px;
				vertical-align: top;
				background: $orange;
				border-radius: 50%;
				margin:4px 12px 0 15px;
			}
		}
		a.phone {
			color:#fff;
			text-decoration: none;
			font-family: $unna;
			font-size:38px;
			margin-right:31px;
		}
	}
}


.header_right {
	.menu_wrapper {
		margin-top:24px;
	}
}


.mobile_bar {
	display: none;
}


.menu_wrapper {
	width:42px;
	span {
		display: block;
	}
	span.menu_bar {
		width:100%;
		height:3px;
		background: $yellow;
		margin-bottom:8px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	span.menu_title {
		color:#fff;
		text-transform: uppercase;
		font-family: $raleway;
		font-weight:800;
		font-size:12px;
		letter-spacing: 0.12em;
	}
}



.sticky_header {
	opacity: 0;
	visibility: hidden;
	display: none;
	transition: all 400ms ease-in-out;
}


// internal header with banners

body:not(.page-template-template-home) {
	.header_right {
		.free_consult {
			span.free_consult_title {
				color:#fff;
			}
		}
	}
}


@media screen and (max-width: 1450px) {
	
	header {
		padding: 0 50px;
	}
	
	
.header_left {
	
	a.logo {
		margin-top:15px;
		img {
			
		}
	}
}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	
	body:not(.page-template-template-home) {
		header {
			background: $greenthree;
			height: 104px;
			position: static;
		}
		.header_left {
			a.logo {
				margin-top:0;
			}
		}
		.header_right {
			.menu_wrapper {
				margin-top: 5px;
			}
			.free_consult {
				span.free_consult_title {
				
				}
			}
		}
	}

	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	body:not(.page-template-template-home) {
		header {
			height: 83px;
			position: fixed;
		}
		.header_left {
			a.logo {
				
			}
		}
		.header_right {
			.menu_wrapper {
				margin-top:0;
			}
			.free_consult {
				span.free_consult_title {
					color:$greythree;
				}
			}
		}
		.mobile_bar {
			box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.17);
		}
		
	}
	
	
	 .sticky_header {
	 	position: fixed;
	 	top:0;
	 	left:0;
	 	width:100%;
	 	display: block;
	 	z-index:5;
	 	height:83px;
	 	background: $greenthree;
	 	display: flex;
	 	align-items: center;
	 	padding: 0 35px;
	 	.header_right {
		 	.free_consult {
			 	span.free_consult_title {
			 		color:$greythree;
			 	}
		 	}
	 	} 
	}   
	
	
	.sticky_header.visible {
		opacity: 1;
	 	visibility: visible;
	}
	
	
	header {
    padding: 0 35px;
	}
	
	.header_left {
		a.logo {
			margin-top:0;
		}
	}
	
	.header_right {
		.free_consult {
			flex-direction: column;
			align-items: flex-end;
			margin-right: 29px;
			span.free_consult_title {
				&:after {
					display: none;
				}
			}
			a.phone {
				font-size: 33px;
				margin-right:0;
				margin-top:2px;
			}
		}
		.menu_wrapper {
			margin:0;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	body:not(.page-template-template-home) {
		header {
			position: static;
		}
		.sticky_header.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	

	header {
		height:auto;
		background: $greenthree;
		padding:0;
		flex-wrap: wrap;
		position: static;
	}
	
	.header_left, .header_right {
		height:81px;
	}
	
	.header_left {
		flex-basis:calc(100% - 62px);
		flex-grow:0;
		display: flex;
		align-items: center;
		padding-left:20px;
		a.logo {
			display: block;
			img {
				height:auto;
				width:100%;
				max-width: 295px;
				padding-right:20px;
			}
		}
	}
	
	.header_right {
		flex-basis: 40px;
		padding-right:20px;
		align-items: center;
		flex-grow: 0;
		.free_consult {
			display: none;
		}
	}
	
	
	.mobile_bar {
		display: flex;
		height:70px;
		flex-basis: 100%;
		background:#fff;
		justify-content: center;
		align-items: center;
		padding:0 10px;
		span.free_consult_title {
			text-transform: uppercase;
			color:$greenone;
			font-size:13px;
			letter-spacing: 0.12em;
			font-family: $raleway;
			font-weight: 800;
			display: block;
			margin-top:2px;
			&:after {
				content:"";
				display: inline-block;
				width:6px;
				height:6px;
				vertical-align: top;
				background: $orange;
				border-radius: 50%;
				margin:4px 5px;
			}
		}
		a.phone {
			text-decoration: none;
			font-size:35px;
			color:$greenthree;
			font-family: $unna;
			display: block;
		}
	}
	
	
	
	.sticky_header {
		display: block;
		padding: 0 24px;
		.header_left {
			display: none;
		}
		.header_right {
			flex-basis: 100%;
			padding-right:0;
			height:100%;
			justify-content: space-between;
			.free_consult {
				display: flex;
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 399px) {
	
	.mobile_bar {
		span.free_consult_title {
			display: none;
		}
	}
	
	
} /* Media Query */

