
@keyframes mouse_move {
  0% {
    transform: translateY(-4px);
 	}
  50% {
	  transform: translateY(4px);
  }
	100% {
    transform: translateY(-4px);
   }
}


@keyframes play_border_move {
  0% {
    transform: scale(0.7);
 	}
  50% {
	  transform: scale(1.03);
  }
	100% {
    transform: scale(1);
   }
}



@keyframes six_count {
  to {
    stroke-dashoffset: 0;
  }
}







