img.mouse {
	animation-name: mouse_move;
  animation-duration: 1800ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1400ms;
  
  
}

