nav {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background: $greenthree;
	z-index: 25;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left:70px;
	padding-right:70px;
	overflow-y: scroll;
	transform: translateY(-100%);
	transition: transform 750ms cubic-bezier(.17,.66,.34,.98);
	.nav_inner {
		display: flex;
		width:100%;
		max-width:1470px;
		justify-content: space-between;
		transform: translateY(-30px);
		opacity: 0;
		transition: opacity 500ms linear, transform 800ms cubic-bezier(.17,.66,.34,.98);
	}
	ul {
		list-style: none;
		li {
			a {
				text-decoration: none;
			}
		}
	}
	ul.menu {
/*
		> li.current-menu-item {
				> a {
						color:#fdb629;
				}
				
		}
*/
		>li.menu-item-has-children {
			display: none;
		}
		> li {
				font-family: $unna;
				font-size: 39px;
				letter-spacing: 0.02em;
				margin-bottom:30px;
			> a {
					color:#fff;
					transition: all 200ms ease-in-out;
/*
					&:hover {
						color:#fdb629;
					}
*/
			}
		}
	}
	ul.sub-menu {
		margin-top:30px;
		li.current-menu-item {
			a {
				color:#fdb629;
			}
		}
		li {
			font-family: $raleway;
			font-weight:800;
			font-size:16px;
			line-height: 20px;
			margin-bottom:20px;
			a {
				letter-spacing: 0.18em;
				text-transform: uppercase;
				color:$greythree;
				transition: all 200ms ease-in-out;
				&:hover {
					color:#fdb629;
				}
			}
		}
	}
}


nav.open {
	transform: translateY(0);
	.nav_inner {
		transform: translateY(0);
		opacity: 1;
		transition-delay: 500ms;
	}
	.nav_close {
		transform: translateY(0);
		opacity: 1;
		transition-delay: 500ms;
	}
}


.nav_col {
	flex-basis: 22%;
	flex-shrink: 0;
}

.nav_col.two, .nav_col.three, .nav_col.four {
	ul.menu {
		display: block;
		>li.menu-item-has-children {
			display: block;
		}
	}
}


.nav_close {
	position: absolute;
	top:67px;
	right:70px;
	display: flex;
	align-items: center;
	transform: translateY(-30px);
	opacity: 0;
	transition: opacity 500ms linear, transform 800ms cubic-bezier(.17,.66,.34,.98);
	img {
		width:118px;
		height:7px;
		margin-right:35px;
	}
	.close {
		width:55px;
		height:55px;
		position: relative;
		cursor: pointer;
		&:hover {
			&:before, &:after {
				background:$yellow;
			}
		}
		&:before, &:after {
			content:"";
			display: block;
			width:65px;
			height:3px;
			background: #fff;
			transition: background 200ms ease-in-out;
			position: absolute;
			top:25px;
			left:-5px;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
	}
}


@media screen and (max-width: 1450px) {
	
	
nav {
	display: block;
	padding:253px 70px 100px;
	.nav_inner {
		
	}
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul.menu {
		>li.menu-item-has-children {
			
		}
		> li {
				font-size: 35px;
				margin-bottom: 25px;
			> a {
					
			}
		}
	}
	ul.sub-menu {
		
		li.current-menu-item {
			a {
				
			}
		}
		li {
			font-size: 15px;
			margin-bottom: 16px;
			a {
				
				&:hover {
					
				}
			}
		}
	}
}


.nav_col {
	
}

.nav_col.two, .nav_col.three, .nav_col.four {
	ul.menu {
		
		>li.menu-item-has-children {
			
		}
	}
}


.nav_close {
	top: 52px;
	right: 58px;
	img {
		
	}
	.close {
		
		&:before, &:after {
			
		}
		&:before {
			
		}
		&:after {
			
		}
	}
}


.nav_close {
	
}
	
	
	
} /* Media Query */


@media screen and (max-width: 1100px) {
	
	.nav_col:not(.one) {
		display: none;
	}
	
	

	
	
nav {
	padding: 184px 70px 100px;
	.nav_inner {
		display: block;
		text-align: center;
	}
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul.menu {
		>li.menu-item-has-children {
			display: block;
		}
		> li {
				font-size: 30px;
				margin-bottom: 24px;
			> a {
					
			}
		}
	}
	ul.sub-menu {
		margin-top: 16px;
		li.current-menu-item {
			a {
				
			}
		}
		li {
			font-size: 14px;
			margin-bottom: 11px;
			a {
				
				&:hover {
					
				}
			}
		}
	}
}

	
	
	
	
	
	.nav_col {
		
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
nav {
	padding: 112px 70px 100px;
	.nav_inner {
	
	}
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul.menu {
		>li.menu-item-has-children {
			
		}
		> li {
				font-size: 25px;
				margin-bottom: 19px;
			> a {
					
			}
		}
	}
	ul.sub-menu {
		
		li.current-menu-item {
			a {
				
			}
		}
		li {
			margin-bottom: 9px;
			a {
				
				&:hover {
					
				}
			}
		}
	}
}



.nav_close {
	top: 29px;
  right: 27px;
	img {
		width:80px;
		height: 5px;
		margin-right: 17px;
	}
	.close {
		width:38px;
		height:38px;
		&:before, &:after {
			width:45px;
			top: 17px;
			left: -3px;
		}
		&:before {
			
		}
		&:after {
			
		}
	}
}
	
	
	
} /* Media Query */