#section_three {
	width:100%;
	background: #fff;
	padding: 140px 0 120px;
}

.sec_three_blockquote_wrapper {
	text-align: center;
	max-width: 1014px;
	padding-left:70px;
	padding-right:70px;
	margin-left:auto;
	margin-right:auto;
	blockquote {
		margin:20px 0;
		&:after {
			margin: 33px auto 40px;
		}
	}
}



.sec_three_content {
	display: flex;
	a.button {
		color:#fff;
		margin-top: 10px;
		padding: 25px 40px;
	}
}


.sec_three_left {
	flex-grow:1;
	padding: 50px 51px 0 8.5%;
}


.sec_three_right {
	flex-basis: 999px;
	flex-shrink: 0;
	height:880px;
	margin-top:65px;
	position: relative;
}


.sec_three_img {
	position: absolute;
}

.sec_three_img_bg {
	top:44px;
	right:0;
	img {
		 box-shadow: 0px 0px 81.9px 8.1px rgba(44, 57, 73, 0.17);
	}
}

.sec_three_img_one {
	top: 292px;
	left:0;
	img {
		  box-shadow: 0px 0px 34.3px 0.7px rgba(44, 57, 73, 0.3);
	}
}

.sec_three_img_two {
	top: 0px;
	right:0;
	img {
		  box-shadow: 0px 0px 34.3px 0.7px rgba(44, 57, 73, 0.3);

	}
}



@media screen and (min-width: 2050px) {
	
	.sec_three_content {
		max-width:1750px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.sec_three_left {
		padding-left:0;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1590px) {
	
	
	
	.sec_three_right {
		flex-basis: 700px;
		height:628px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	
	#section_three {
		padding: 150px 0 130px;
	}
	
	
.sec_three_blockquote_wrapper {
	blockquote {
		&:after {
			margin-bottom:50px;
		}
	}
}


.sec_three_left {
	padding-left:100px;
}


	.sec_three_right {
		margin-top: 8px;
	}
 	
 	
 	
 	.sec_three_content {
	 	a.button {
		 	padding: 23px 40px;
	 	}
 	}
	
	
} /* Media Query */

@media screen and (max-width: 1360px) {
	
	
	
	.sec_three_left {
		padding-left:70px
	}
	
	
	.sec_three_right {
		flex-basis: 600px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	
	
	#section_three {
		padding: 89px 0 126px;
	}
	
	
	.sec_three_content {
		display: block;
		a.button {
			font-size: 15px;
			letter-spacing: 0.12em;
		}
	}
	
	
	.sec_three_left {
		padding-top:0;
		padding-right:70px;
	}
	
	
	.sec_three_right {
		display: none;
	}
	
	.sec_three_blockquote_wrapper {
		blockquote {
			&:after {
				margin: 28px auto 0px;
			}
		}
	}
	
	    
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	#section_three {
		padding: 68px 0 77px;
	}
	
	.sec_three_blockquote_wrapper {
		padding-left:40px;
		padding-right:40px;
	}
	
	.sec_three_left {
		padding:10px 40px 0;
	}
	
	.sec_three_content {
		a.button.mobile {
			margin-left:auto;
			margin-right:auto;
			max-width:335px;
			display: block;
			padding:23px 0;
			text-align: center;
		}
	}
	
	
} /* Media Query */