#section_five {
	width:100%;
	background:$greenthree;
	overflow: hidden;
}

.sec_five_inner {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index:1;
	align-items: center;
	height:100%;
}

.sec_five_button {
	width:68px;
	height:92px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	flex-shrink:0;
	&:hover {
		&:before {
			border-right:12px solid $orange; 
		}
	}
	&:before {
		content:"";
		display: block;
		width: 0; 
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent; 
		border-right:12px solid $greenthree; 
		transition: border 200ms ease-in-out;
	}
}


.sec_five_button_right {
	&:before {
		transform: rotate(180deg);
	}
}

.sec_five_slider {
	max-width: 860px;
	margin-left:auto;
	margin-right:auto;
	flex-shrink:0;
}

.sec_five_single_slide {
	text-align: center;
	height:997px;
	.sec_five_single_inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height:100%;
	}
	img.sec_five_stars {
		display: block;
		margin:0 auto;
		width:218px;
		height:27px;
	}
	span {
		display: block;
		color:#fff;
	}
	span.sec_five_intro {
		font-family: $unna;
		font-size: 65px;
		line-height: 72px;
		margin:25px 0 0;
		&:after {
			content:"";
			display: block;
			width: 135px;
			height:7px;
			background: url(#{$themePath}images/six_count.svg) top left no-repeat;
			margin:30px auto 0;
		}
	}
	span.sec_five_description {
		font-size:22px;
		line-height: 36px;
		font-family: $raleway;
		margin:30px 0 40px;
	}
	a.button {
		padding: 32px 57px;
		margin-left:auto;
		margin-right:auto;
		max-width:287px;
		text-align: center;
		display: block;
	}
}




.sec_five_topog {
	transform: rotate(-50deg);
	position: absolute;
	bottom: -93px;
  left: -270px;;
	svg#topog {
		width:750px;
		height:750px;
	}
}

.sec_five_topog_two {
	transform: rotate(-35deg);
	position: absolute;
	top: -250px;
  right: -225px;
	svg#topog {
		width:750px;
		height:750px;
	}
}



@media screen and (max-width: 1450px) {
	
	
	.sec_five_single_slide {
		height:896px;
	}
	
	
	
.sec_five_topog {
  bottom: -168px;
  left: -300px;
	svg#topog {
		width:775px;
		height:775px;
	}
}

.sec_five_topog_two {
	top: -307px;
  right: -270px;
	svg#topog {
		width:750px;
		height:750px;
	}
}

	
} /* Media Query */


@media screen and (max-width: 1066px) {


#section_five {
	
}

.sec_five_inner {
	justify-content: center;
}

.sec_five_slider {
	max-width: 615px;
	padding:140px 0 105px;
	.slick-dots {
		position: static;
		margin-top:75px;
		//bottom: 0px;
		li.slick-active {
			button {
				&:before {
					color:$yellow;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$yellow;
				}
			}
		}
		li {
			margin:0;
			width:19px;
			button {
				width:19px;
				&:before {
					width:19px;
					opacity: 1;
					color: #fff;
					font-size:22px;
				}
			}
		}
	}
}

.sec_five_button {
	display: none;
}
	
	
.sec_five_single_slide {
	height:auto;
	.sec_five_single_inner {
		
	}
	img.sec_five_stars {
		
	}
	span {
		
	}
	span.sec_five_intro {
		font-size: 54px;
		line-height: 61px;
		max-width:485px;
		margin-left:auto;
		margin-right:auto;
		&:after {
			
		}
	}
	span.sec_five_description {
		margin: 30px 0 75px;
	}
	a.button {
		padding: 32px 57px;
		font-size:15px;
	}
}




.sec_five_topog {
  bottom: -123px;
  left: -205px;
	svg#topog {
		width:530px;
		height:530px;
		transform-origin: 0px 0px 0px;
	}
}

.sec_five_topog_two {
	top: -230px;
  right: -207px;
	svg#topog {
		width:530px;
		height:530px;
	}
}


	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	.sec_five_inner {
		padding-left:30px;
		padding-right:30px;
		display: block;
	}
	
	.sec_five_slider {
    padding: 111px 0 85px;
    max-width: 437px;
    .slick-dots {
	    margin-top: 45px;
    }
	}
	
	
.sec_five_single_slide {
	
	.sec_five_single_inner {
		
	}
	img.sec_five_stars {
		
	}
	span {
		
	}
	span.sec_five_intro {
		font-size: 40px;
		line-height: 45px;
		&:after {
			margin: 26px auto 0;
		}
	}
	span.sec_five_description {
		font-size:19px;
		line-height: 31px;
		margin: 19px 0 40px;
	}
	a.button {
		
	}
}


.sec_five_topog_two {
  top: -237px;
	right: -153px;;
  svg#topog {
	  width: 400px;
    height: 400px;
  }
}

.sec_five_topog {
	bottom: -195px;
	left: -182px;
	svg#topog {
		width: 500px;
    height: 500px;
	}
}

	
	
} /* Media Query */
